[submodule "class-notebooks"]
	path = class-notebooks
	url = http://zapad.stanford.edu/GP257/labs-2023/class-notebooks.git
[submodule "class-notebooks/slurm"]
	path = class-notebooks/slurm
	url = http://zapad.stanford.edu/GP257/labs-2023/slurm.git
